@import "../../common/colors.scss";

.footer{
  background: $second-color;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-primary;
  flex-direction: column;
}